@import 'article.scss';

.Home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    width: 100%;
    & .carousel {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        position: relative;
        height: 100vh;
        width: 100%;
        -webkit-box-flex: 1;
        -ms-flex: 1 0;
        flex: 1 0;
        & .thumbnails {
            position: absolute;
            right: -970px;
            width: 970px;
            max-width: 570px;
            overflow-x: scroll;
            overflow-y: hidden;
            height: 170px;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            background: rgba(0, 0, 0, 0.7);
            -webkit-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
            padding: 20px 20px 20px 0px;
            display: -webkit-box !important;
            display: -ms-flexbox !important;
            display: flex !important;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            &.windows {
                height: 190px;
            }
            &.active {
                -webkit-transform: translate(-970px, -50%);
                -ms-transform: translate(-970px, -50%);
                transform: translate(-970px, -50%);
                -webkit-transition: all 0.5s ease-in-out;
                -o-transition: all 0.5s ease-in-out;
                transition: all 0.5s ease-in-out;
            }
            & li {
                margin: 0px 10px;
                width: 175px;
                height: 130px;
                display: block;
                cursor: pointer;
                position: relative;
                flex-shrink: 0;
                & a {
                    width: 100%;
                    height: 100%;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                    & div {
                        width: 100%;
                        height: 100%;
                        background-size: cover;
                        background-position: center;
                    }
                }
                &:after {
                    content: '';
                    position: absolute;
                    bottom: -20px;
                    left: 0;
                    height: 3px;
                    background: #f4da01;
                    display: block;
                }
                &.slick-active {
                    &:after {
                        -webkit-animation: progress 5.2s linear infinite;
                        animation: progress 5.2s linear infinite;
                    }
                }
                &:first-of-type {
                    margin-left: 0;
                }
                &:last-of-type {
                    margin-right: 0;
                }
            }
        }
        & .slick-arrow,
        & .thumbs-icon {
            border-radius: 5px;
            height: 45px;
            width: 45px;
            background: rgba(0, 0, 0, 0.7);
            -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.16);
            box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.16);
            margin: 2.5px 0px;
            position: absolute;
            bottom: 180px !important;
            right: 80px !important;
            top: unset !important;
            -webkit-transform: unset !important;
            -ms-transform: unset !important;
            transform: unset !important;
            display: -webkit-box !important;
            display: -ms-flexbox !important;
            display: flex !important;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            cursor: pointer;
            -webkit-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
            z-index: 2;
            &:before {
                display: none !important;
            }
            &:hover {
                & path {
                    fill: rgba(255, 255, 255, 1);
                    -webkit-transition: all 0.2s ease-in-out;
                    -o-transition: all 0.2s ease-in-out;
                    transition: all 0.2s ease-in-out;
                }
            }
            &.slick-prev {
                left: unset !important;
                bottom: 130px !important;
                @media screen and (max-width: 1080px) {
                    display: none !important;
                }
            }
            &.slick-next {
                -webkit-transform: scaleX(-1) !important;
                -ms-transform: scaleX(-1) !important;
                transform: scaleX(-1) !important;
                @media screen and (max-width: 1080px) {
                    display: none !important;
                }
            }
            & svg {
                & path {
                    fill: rgba(255, 255, 255, 0.38);
                    -webkit-transition: all 0.2s ease-in-out;
                    -o-transition: all 0.2s ease-in-out;
                    transition: all 0.2s ease-in-out;
                }
            }
        }
        & .thumbs-icon {
            bottom: 80px !important;
        }
        & .slick-list {
            width: 100%;
            height: 100%;
            & .slick-track {
                height: 100%;
                & .slick-slide {
                    width: 100%;
                    height: 100%;
                    &.slick-active.slick-current {
                        @media screen and (max-width: 1080px) {
                            & .content-wrapper {
                                &:before {
                                    -webkit-animation: mobileProgress 5.1s linear infinite;
                                    animation: mobileProgress 5.1s linear infinite;
                                }
                            }
                        }
                        & .img {
                            @media screen and (min-width: 1080px) {
                                -webkit-animation: magicImage 15s linear infinite;
                                animation: magicImage 15s linear infinite;
                            }
                        }
                        & a {
                            &:hover {
                                & .title {
                                    text-decoration: underline;
                                }
                            }
                        }
                        & .carousel-caption {
                            z-index: 2;
                            & .title,
                            & .supertitle,
                            & .category {
                                -webkit-transform: translate3d(0, 0, 0);
                                transform: translate3d(0, 0, 0);
                                opacity: 1;
                                -webkit-transition: opacity 1s ease-out,
                                    -webkit-transform 1.5s cubic-bezier(0.15, 0.3, 0.15, 1);
                                transition: opacity 1s ease-out, -webkit-transform 1.5s cubic-bezier(0.15, 0.3, 0.15, 1);
                                -o-transition: transform 1.5s cubic-bezier(0.15, 0.3, 0.15, 1), opacity 1s ease-out;
                                transition: transform 1.5s cubic-bezier(0.15, 0.3, 0.15, 1), opacity 1s ease-out;
                                transition: transform 1.5s cubic-bezier(0.15, 0.3, 0.15, 1), opacity 1s ease-out,
                                    -webkit-transform 1.5s cubic-bezier(0.15, 0.3, 0.15, 1);
                            }
                            & .category {
                                -webkit-transition-delay: 0.25s, 0.25s;
                                -o-transition-delay: 0.25s, 0.25s;
                                transition-delay: 0.25s, 0.25s;
                                font-family: 'Ubuntu Condensed', sans-serif;
                            }
                            & .title {
                                -webkit-transition-delay: 0.35s, 0.35s;
                                -o-transition-delay: 0.35s, 0.35s;
                                transition-delay: 0.35s, 0.35s;
                            }
                            & .supertitle {
                                -webkit-transition-delay: 0.45s, 0.55s;
                                -o-transition-delay: 0.45s, 0.55s;
                                transition-delay: 0.45s, 0.55s;
                            }
                        }
                    }
                    & > div {
                        width: 100%;
                        height: 100%;
                        & .carousel-wrapper {
                            position: relative;
                            width: 100%;
                            height: 100vh;
                            display: block;
                            z-index: 1000;
                            &:after {
                                position: absolute;
                                content: '';
                                top: 0;
                                left: 0;
                                height: 100%;
                                width: 100%;
                                background: rgba(0, 0, 0, 0.2);
                            }
                            & .content-wrapper {
                                border-radius: 5px;
                                position: relative;
                                padding: 25px;
                                @media screen and (max-width: 1080px) {
                                    &:before {
                                        content: '';
                                        position: absolute;
                                        bottom: 0px;
                                        left: 0;
                                        right: 0;
                                        height: 2px;
                                        background: #f4da01;
                                        display: block;
                                        z-index: 9;
                                    }
                                }
                            }
                            & > .img {
                                position: absolute;
                                top: 0;
                                left: 0;
                                right: 0;
                                bottom: 0;
                                height: 110%;
                                width: 110%;
                                background-position: center 40%;
                                background-repeat: no-repeat;
                                background-size: cover;
                                @media screen and (max-width: 1080px) {
                                    height: 100%;
                                    width: 100%;
                                    background-position: center;
                                    background-repeat: no-repeat;
                                    background-size: cover;
                                }
                            }
                            & > .carousel-caption {
                                position: absolute;
                                bottom: 80px;
                                left: 80px;
                                background: rgba(0, 0, 0, 0.7);
                                max-width: 550px;
                                width: auto;
                                display: -webkit-box;
                                display: -ms-flexbox;
                                display: flex;
                                -webkit-box-orient: vertical;
                                -webkit-box-direction: normal;
                                -ms-flex-direction: column;
                                flex-direction: column;
                                max-height: 280px;
                                height: auto;
                                text-decoration: none;
                                @media screen and (max-width: 1080px) {
                                    left: 20px;
                                    bottom: 26%;
                                }
                                @media screen and (max-width: 768px) {
                                    max-width: 90%;
                                }
                                & .category {
                                    font-size: 16px;
                                    font-weight: 500;
                                    color: white;
                                    margin-bottom: 5px;
                                    margin-left: 15px;
                                    position: relative;
                                    -webkit-transform: translate3d(0, 100px, 0);
                                    transform: translate3d(0, 100px, 0);
                                    opacity: 0;
                                    @media screen and (max-width: 1080px) {
                                        font-size: 14px;
                                    }
                                    &:before {
                                        position: absolute;
                                        content: '';
                                        background-image: url('../assets/images/logo-dash.png');
                                        background-position: center;
                                        background-size: contain;
                                        background-repeat: no-repeat;
                                        width: 15px;
                                        height: 15px;
                                        top: 1px;
                                        left: -18px;
                                        @media screen and (max-width: 1080px) {
                                            top: 0px;
                                        }
                                    }
                                }
                                & .supertitle {
                                    font-size: 22px;
                                    line-height: 26px;
                                    font-weight: 100;
                                    color: white;
                                    margin: 5px 0px;
                                    margin-bottom: 7px;
                                    font-family: 'Ubuntu Condensed', sans-serif;
                                    -webkit-transform: translate3d(0, 100px, 0);
                                    transform: translate3d(0, 100px, 0);
                                    opacity: 0;
                                    @media screen and (max-width: 1080px) {
                                        font-size: 16px;
                                        margin: 0;
                                    }
                                }
                                & .title {
                                    font-size: 40px;
                                    line-height: 44px;
                                    font-weight: 600;
                                    color: white;
                                    -webkit-transform: translate3d(0, 100px, 0);
                                    transform: translate3d(0, 100px, 0);
                                    opacity: 0;
                                    @media screen and (max-width: 1080px) {
                                        font-size: 24px;
                                        line-height: 30px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    & .radios {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        min-height: 275px;
        height: auto;
        width: 100%;
        -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
        background: white;
        padding: 40px 0px;
        padding-left: 80px;
        @media screen and (max-width: 1080px) {
            padding-left: 10px;
            padding-right: 10px;
            height: auto;
        }
        & > h2 {
            font-size: 38px;
            line-height: 50px;
            font-weight: bold;
            @media screen and (max-width: 1080px) {
                padding-left: 10px;
                padding-right: 10px;
            }
        }
        & > h3 {
            font-size: 20px;
            line-height: 30px;
            font-weight: normal;
            margin-bottom: 15px;
            @media screen and (max-width: 1080px) {
                padding-left: 10px;
                padding-right: 10px;
                height: auto;
            }
        }
        & > .wrapper {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: start;
            -ms-flex-pack: start;
            justify-content: flex-start;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            width: 100%;
            @media screen and (max-width: 1080px) {
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
            }
            & > .radio {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                height: 100px;
                width: 400px;
                padding: 5px;
                background: white;
                position: relative;
                background-position: center;
                background-size: 100% 100%;
                background-origin: content-box;
                background-repeat: no-repeat;
                text-decoration: none;
                -webkit-transition: all 0.2s ease-in-out;
                -o-transition: all 0.2s ease-in-out;
                transition: all 0.2s ease-in-out;
                & svg {
                    position: absolute;
                    left: 30px;
                    top: 20px;
                    width: 30px;
                    & path {
                        fill: black;
                    }
                }
                & span {
                    -webkit-text-stroke: 0.8px #000000;
                    font-size: 40px;
                    font-weight: 800;
                    color: transparent;
                    font-family: 'Ubuntu', sans-serif;
                }
                &:nth-of-type(1) {
                    border: 1px solid #f57f17;
                    margin-right: 30px;
                    background-image: url('../assets/images/entexno.jpg');
                }
                &:nth-of-type(2) {
                    border: 1px solid #84c325;
                    margin-right: 30px;
                    background-image: url('../assets/images/laiko.jpg');
                }
                &:nth-of-type(3) {
                    border: 1px solid #dd137a;
                    margin-right: 30px;
                    background-image: url('../assets/images/pop.jpg');
                }
                &:nth-of-type(4) {
                    border: 1px solid #0293de;
                    background-image: url('../assets/images/rock.jpg');
                }
                &:hover {
                    padding: 0;
                    border: 1px solid transparent;
                    -webkit-transition: all 0.2s ease-in-out;
                    -o-transition: all 0.2s ease-in-out;
                    transition: all 0.2s ease-in-out;
                    & svg {
                        left: 30px;
                        top: 20px;
                    }
                }
                @media screen and (max-width: 1830px) {
                    margin-top: 10px !important;
                }
                @media screen and (max-width: 1080px) {
                    margin: 10px !important;
                }
            }
        }
    }
    & > .categories {
        width: 100%;
        height: auto;
        -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
        padding: 60px 0px 100px 0px;
        background-color: #f4f7f6;
        position: relative;
        & > .category {
            padding: 30px 0px 25px 0px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: start;
            -ms-flex-align: start;
            align-items: flex-start;
            -webkit-box-pack: start;
            -ms-flex-pack: start;
            justify-content: flex-start;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            position: relative;
            overflow-x: hidden;
            overflow-y: hidden;
            &:first-of-type {
                padding-top: 0px;
            }
            &:last-of-type {
                padding-bottom: 0px;
            }
            & > .title,
            & > .articles {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: end;
                -ms-flex-align: end;
                align-items: flex-end;
                -webkit-box-pack: start;
                -ms-flex-pack: start;
                justify-content: flex-start;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                -ms-flex-direction: row;
                flex-direction: row;
            }
            & > .title {
                margin-left: 80px;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                @media screen and (max-width: 1080px) {
                    margin-left: 20px;
                }
                & > h2 {
                    font-size: 38px;
                    font-weight: bold;
                    color: black;
                    @media screen and (max-width: 1080px) {
                        max-width: 170px;
                    }
                }
                & > a {
                    font-size: 14px;
                    font-weight: bold;
                    color: black;
                    text-decoration: none;
                    margin-right: 20px;
                    margin-left: 15px;
                    padding-bottom: 5px;
                    outline: none;
                    position: relative;
                    @media screen and (max-width: 300px) {
                        margin-left: 10px;
                    }
                    @media screen and (max-width: 271px) {
                        margin-left: 0px;
                        margin-top: 2px;
                        margin-bottom: 2.5px;
                    }
                    &:after {
                        content: '';
                        position: absolute;
                        bottom: 8px;
                        right: -10px;
                        background-image: url(../assets/images/arrow.png);
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: contain;
                        width: 5px;
                        height: 8px;
                        -webkit-transition: all 0.15s ease-in-out;
                        -o-transition: all 0.15s ease-in-out;
                        transition: all 0.15s ease-in-out;
                    }
                    &:hover {
                        &:after {
                            right: -14px;
                            -webkit-transition: all 0.15s ease-in-out;
                            -o-transition: all 0.15s ease-in-out;
                            transition: all 0.15s ease-in-out;
                        }
                    }
                }
            }
            & > .articles {
                overflow-x: hidden;
                overflow-y: hidden;
                width: 100%;
                & .menu-wrapper--inner {
                    display: flex;
                    & .menu-item-wrapper {
                        display: inline-flex!important;
                    }
                }
                & .slick-track {
                    margin-left: 67px;
                    display: -webkit-box !important;
                    display: -ms-flexbox !important;
                    display: flex !important;
                    @media screen and (max-width: 1080px) {
                        margin-left: 20px;
                        margin-top: 10px;
                    }
                    @media screen and (max-width: 768px) {
                        margin-left: 0px;
                        margin-top: 10px;
                    }
                    @media screen and (max-width: 271px) {
                        margin-top: 0px;
                    }
                    & .slick-slide {
                        width: auto !important;
                        -webkit-transition: opacity 0.6s ease-in-out;
                        -o-transition: opacity 0.6s ease-in-out;
                        transition: opacity 0.6s ease-in-out;
                        &:nth-of-type(1) {
                            @media screen and (max-width: 768px) {
                                & .Article {
                                    margin-left: 20px !important;
                                }
                            }
                            @media screen and (max-width: 525px) {
                                & .Article {
                                    margin: 1px 0px !important;
                                }
                            }
                        }
                        @media screen and (max-width: 1080px) {
                            width: 366px !important;
                            & .Article {
                                margin: 1px !important;
                            }
                        }

                        @media screen and (max-width: 768px) {
                            & .Article {
                                margin: 1px 10px !important;
                            }
                        }
                        &:not(.slick-active) {
                            opacity: 0.2;
                            -webkit-transition: opacity 0.6s ease-in-out;
                            -o-transition: opacity 0.6s ease-in-out;
                            transition: opacity 0.6s ease-in-out;
                            @media screen and (max-width: 525px) {
                                & > div > a {
                                    margin: 0px 20px !important;
                                }
                                opacity: 0;
                                -webkit-transition: opacity 0.6s ease-in-out;
                                -o-transition: opacity 0.6s ease-in-out;
                                transition: opacity 0.6s ease-in-out;
                            }
                        }
                    }
                }
                & .Article.small:not(.active) {
                    opacity: 0.2;
                    -webkit-transition: opacity 0.6s ease-in-out;
                    -o-transition: opacity 0.6s ease-in-out;
                    transition: opacity 0.6s ease-in-out;
                    @media screen and (max-width: 525px) {
                        opacity: 0;
                        -webkit-transition: opacity 0.6s ease-in-out;
                        -o-transition: opacity 0.6s ease-in-out;
                        transition: opacity 0.6s ease-in-out;
                    }
                }
                & .slick-arrow,
                & .arrow {
                    &.slick-next,
                    &.arrow-next {
                        -webkit-transform: scaleX(-1);
                        -ms-transform: scaleX(-1);
                        transform: scaleX(-1);
                        top: 130px !important;
                        z-index: 2;
                        @media screen and (max-width: 525px) {
                            left: unset !important;
                            top: 220px !important;
                            right: 0px !important;
                        }
                    }
                    &.slick-prev,
                    &.arrow-prev {
                        top: 180px !important;
                        z-index: 2;
                        @media screen and (max-width: 525px) {
                            left: 0px;
                            top: 220px !important;
                            right: unset !important;
                        }
                    }
                    &:before,
                    &:after {
                        display: none !important;
                    }
                    display: -webkit-box !important;
                    display: -ms-flexbox !important;
                    display: flex !important;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                    width: 45px;
                    height: 45px;
                    position: absolute;
                    right: 40px !important;
                    left: unset !important;
                    background: rgba(255, 255, 255, 0.9);
                    -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.16);
                    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.16);
                    cursor: pointer;
                }
            }
        }
    }
}

@-webkit-keyframes progress {
    from {
        width: 0px;
    }
    to {
        width: 170px;
    }
}

@keyframes progress {
    from {
        width: 0px;
    }
    to {
        width: 170px;
    }
}

@-webkit-keyframes mobileProgress {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

@keyframes mobileProgress {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

@-webkit-keyframes magicImage {
    0% {
        -webkit-transform: translate3d(0px, 0px, 0px);
        transform: translate3d(0px, 0px, 0px);
    }
    100% {
        -webkit-transform: translate3d(-180px, 0px, 0px);
        transform: translate3d(-180px, 0px, 0px);
    }
}

@keyframes magicImage {
    0% {
        -webkit-transform: translate3d(0px, 0px, 0px);
        transform: translate3d(0px, 0px, 0px);
    }
    100% {
        -webkit-transform: translate3d(-180px, 0px, 0px);
        transform: translate3d(-180px, 0px, 0px);
    }
}
